body {
  background-image: url("../images/navy_blue.png");
  width: 100%;
}

h1 {
  font-family: "Bungee", cursive;
  color: crimson;
  font-size: 60px;
  text-shadow: -1px 1px 1px #fff;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  display: flex;
  margin-top: 10px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  display: none;
}

.seconds-left {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#time {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  float: left;
}

.trivia-box {
  width: 960px;
  height: 610px;
  border: 1px darkgrey solid;
  background-color: orange;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question {
  display: flex;
  justify-content: center;
}

.answer-box {
  display: none;
}

.score {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.answer {
  font-family: 'Open Sans', sans-serif;
  margin-right: 5px;
}

.time-remaining {
  width: 200px;
  height: 100px;
  border: 1px solid darkgray;
  align-self: flex-start;
  position: sticky;
  top: 0;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: sticky;
  top: 0;
  margin-left: 20px;
}

.mario-luigi {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 230px;
  height: 610px;
  position: sticky;
  top: 0;
}

img#mario {
  height: 122px;
  width: 100px;
}

img#luigi {
  height: 122px;
  width: 100px;
}

img#peach {
  height: 122px;
  width: 100px;
}

img#yoshi {
  height: 122px;
  width: 100px;
}

img#toad {
  height: 122px;
  width: 100px;
}

img#bowser {
  overflow: hidden;
  margin-top: 15px;
}

img#goomba {
  height: 122px;
  width: 100px;
}

img#boo {
  height: 122px;
  width: 100px;
}

img#koopa {
  height: 122px;
  width: 100px;
}

img#bulletbill {
  height: 122px;
  width: 100px;
}

input[type=radio] {
  margin-right: 2px;
}

button#submit-button {
  display: none;
  margin: 5px;
}

.start-button {
  margin-top: 1040px;
}

button#start {
  margin-top: 5px;
}
